asgiref
certifi
cloudinary
confusable-homoglyphs
dj-database-url
Django
django-bootstrap3
django-braces
django-crispy-forms
django-extensions
django-heroku
django-model-utils
django-rating
django-registration
django-rest-framework
django-star-ratings
djangorestframework
gunicorn
importlib-metadata
Pillow
psycopg2
psycopg2-binary
python-decouple
pytz
six
sqlparse
stdlib-list
swapper
urllib3
whitenoise
zipp
